node_modules
__pycache__
bin
include
lib
lib64
.env
venv
=3.10,
=3.11,
hide/*
ual_log.txt
relations.tsv
entities.tsv
generate-tsv-ERL.js
searchcopy.py
spacy-llm
KAs
TEST
query_logs.*
RAG_SPARQL_old.py
Embeddings/Hide
Ontology/Hide
